@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');  
@media only screen 
and (min-width : 0px)
and (max-width : 650px) {

    h1{
        font-size: 20px;
    }
   .overlaymais p {
    display: none; /* O texto desaparece completamente */
    }
    .tour-button{
        font-size: 10px;
    }
    .overlay p {
        display: none; /* O texto desaparece completamente */
        }
    .instalacoes p {
        display: none; /* O texto desaparece completamente */
        }
    .logo{
        block-size: auto;
        inline-size: auto;
    

    }
    .menu-items{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    .footer .footer-dentro{
        inline-size: 90%;
    }
    .footer .footer-dentro,
    .footer-info{
        inline-size: 100%;
        margin-block-end: 30px;
    }
}
    @media only screen 
    and (min-width : 651px)
    and (max-width : 711px) {

    p, h1{
        font-size: 10px;
    }

}
        @media only screen 
        and (min-width : 711px)
        and (max-width : 1071px) {

        p, h1{
            font-size: 15px;
        }

    }

:root {
    --fonte-padrao: Nunito, Arial, Helvetica, sans-serif; 
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; /* Remove preenchimentos padrão */
    font-family: var(--fonte-padrao);

}
h1 {
    margin-block-end: 10px; /* Espaçamento abaixo do título */
}
p {
    margin-block-end: 10px; /* Espaçamento abaixo de cada parágrafo */
}
header {
    background-color: lightyellow;
}
body {
    background-color: rgb(249, 249, 239);
}
ul{
    list-style: none;
    display: flex;
    block-size: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 50px;
}
li{
    justify-content: space-around;
    padding: 2px;
}


nav {
    block-size: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 50px;
    

}
.menu-items a {
    background-color: #ffe250; /* Amarelo vibrante */
    color: #ffffff; /* Texto preto */
    border-radius: 38px;
    padding: 9px 20px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-decoration: none;
    display:inline-block;
}
ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.burger-icon{
    margin: auto 0;
    cursor: pointer;
    display: none; /* Alinha os ícones lado a lado */ 

}
.burger-icon div{
    inline-size: 35px;
    block-size: 3px;
    background-color: rgb(0, 0, 0);
    background: black;
    margin: 6px 0;
    transition: 0.4s;


}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, 6px);
    transform: rotate(45deg) translate(-6px, 6px);
}
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.mobile-menu{
    display: none;
    position: absolute;
    inset-block-start: 50px;
    inset-inline-start: 0;
    block-size: calc(100vh - 50px);
    inline-size: 100%;
}
.logo {
    block-size: 70px;
    inline-size: auto;
    display:inline-block;

    margin-inline-start:  0;
}

header{
    background-color: lightyellow;
}







.redes {
    display: inline-block; /* Permite a personalização do link */
    margin-inline-start: 10px; /* Adiciona um pequeno espaço à esquerda dos ícones */
}

.rede {
    display: inline-block; /* Alinha os ícones lado a lado */
    margin: 0; /* Remove a margem */
}

.icon {
    inline-size: 40px; /* Ajusta o tamanho do ícone */
    block-size: auto; /* Mantém a proporção da imagem */
    margin: 0 5px; /* Adiciona um pequeno espaço entre os ícones */
    background: none; /* Remove qualquer fundo */
    border: none; /* Remove bordas */
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(54, 54, 54);
    padding: 10px;
}

.text-container > p {
    margin: 100%;
    padding: 10px 40px 10px 40px;
    line-height: 2em;
    margin: 50px;  
}
.text-container > h1 {
    text-align: center;
    font-size: 3em;
    margin-block-end: 10px; 
    padding: 10px 40px 10px 40px;
}
.footer{

    margin-block-start: 20px;
    inline-size: 100vw;
    display: block;
    overflow:hidden ;
    padding: 70px 20px;
    box-sizing: border-box;
}
.footer-dentro{

    padding-block-start: 40px;
    display: block;
    margin: 0 auto;
    inline-size: 1100px;
    block-size: 100%;
}
.logofooter{
    
    inline-size: 35%;
    float: inline-start;
    block-size: 100%;
    display: block;
}
.footer-dentro .logofooter img{
    inline-size: 160px;
    block-size: auto;
    margin-inline-start: 30%;
}
.footer-info{

    inline-size: calc(21.6666666667 - 20px);
    margin-inline-end: 10px;
    float: inline-start;
    block-size: 100%;
}
.footer-info:last-child{
    margin-inline-end: 0;
}
.footer-info h2{

    font-size: 22px;
    display: block;
    inline-size: 100%;
    margin-block-end: 20px;
}
.footer-info a{

    font-size: 5px;
    display: block;
    inline-size: 100%;
    margin-block-end: 20px;
}
.footer-info img{
    display: inline-block;
    padding: 0 5px;

    inline-size: 60px; /* Ajusta o tamanho do ícone */
    block-size: auto; /* Mantém a proporção da imagem */
    margin: 0 5px; /* Adiciona um pequeno espaço entre os ícones */
    background: none; /* Remove qualquer fundo */
    border: none; /* Remove bordas */
}
.visitabutton{
    background-color: #2dc065;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block; /* Faz o botão ocupar apenas o espaço necessário */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    display: inline-block;
    font-size: 2em;


}
.visita{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 50px;
    font-size: 1em;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); 
}
.visita > h1{
    color: rgb(56, 56, 56);
    font-size: 3em;
    text-align: start;
    padding-inline-start: 90px;
}
.visita > p{
    text-align: start;
    padding-inline-start: 90px;
}
span{
    text-align: center; /* Centraliza o texto do rodapé */
    display: inline-block;
    background-color: #ffffff;
    inset-block-end: 0;
    inline-size: 100%;

}
