
.mainhome {
    position: relative;
    inline-size: 100%;
}
.full-width-image-home {
    inline-size: 100%; /* A imagem ocupa toda a largura da caixa */
    block-size: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que não haja espaços abaixo da imagem */


}
.tour-section {
    position: relative;
    inline-size: 100%;
    margin: 0; /* Remove margens indesejadas */
    padding: 0; /* Remove preenchimentos indesejados */

}
.full-width-image {
    inline-size: 100%; /* Largura 100% do contêiner */
    block-size: auto; /* Mantém a proporção */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    display: block; /* Garante que não haja espaços abaixo da imagem */
}
.overlay {
    position: absolute; /* Posiciona o texto sobre a imagem */
    inset-block-start: 50%; /* Centraliza verticalmente */
    inset-inline-start: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição do overlay */
 
    z-index: 2; /* Coloca o conteúdo acima da imagem */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 10px; /* Ajuste o espaçamento conforme necessário */
    font-weight: bolder;
    inline-size: 100%; /* Largura 100% do contêiner */
    block-size: auto; /* Mantém a proporção */ 
    margin: auto;
    min-inline-size: 320px;
    max-inline-size: 800px;

    
}

.tour-button {
    background-color: rgb(238, 210, 0); /* Cor do botão */
    color: rgb(255, 255, 255); /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    margin-block-start: 20px; /* Espaçamento acima do botão */
    display: inline-block; /* Faz o botão ocupar apenas o espaço necessário */


}



.maissobre{
    position: relative;
    inline-size: 100%;
    margin: 0; /* Remove margens indesejadas */
    padding: 0; /* Remove preenchimentos indesejados */
    margin-block-end: 0px;

}
.full-width-image-maissobre {
    inline-size: 100%; /* Largura 100% do contêiner */
    block-size: auto; /* Mantém a proporção */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    display: block; /* Garante que não haja espaços abaixo da imagem */
}
.overlaymais {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 37%;
    transform: translate(-50%, -50%);
    color: rgb(88, 88, 88);
    text-align: center;
    margin: auto;
    padding: 20px; /* Adiciona espaço interno */

    max-block-size: 80%; /* Ajuste conforme necessário */
    overflow: hidden; /* Evita que o texto ultrapasse o espaço */
    text-align: justify;

}
.overlayestrutura{
    position: absolute; /* Posiciona o texto sobre a imagem */
    inset-block-start: 50%; /* Centraliza verticalmente */
    inset-inline-start: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição do overlay */

    border-radius: 20px;
    z-index: 2; /* Coloca o conteúdo acima da imagem */
    color: rgb(255, 255, 255); /* Cor do texto */
    text-align: center;
    padding: 10px; /* Ajuste o espaçamento conforme necessário */
    font-weight: bolder;
    inline-size: 100%; /* Largura 100% do contêiner */
    block-size: auto; /* Mantém a proporção */ 
    margin: auto;
    min-inline-size: 320px;
    max-inline-size: 800px;
}
.overlayestrutura p{
    text-align: justify;
}
.instalacoes{
    position: relative;
    inline-size: 100%;
    margin: 0; /* Remove margens indesejadas */
    padding: 0; /* Remove preenchimentos indesejados */
    margin-block-end: 0px;


}
.intalacoes-button{
    background-color: rgb(238, 210, 0);
    border-radius: 20px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block; /* Faz o botão ocupar apenas o espaço necessário */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}
.instalacoes p {
    margin: 0px 100px 0px 100px;
    padding: 10px 100px;
    margin: auto;
    min-inline-size: 320px;
    max-inline-size: 800px
}

