

header{
    background-color: lightyellow;
}

.text-container > p {
    margin: 100%;
    padding: 10px 40px 10px 40px;
    line-height: 2em;
    margin: 50px;  
}

.container {
    margin: 20px 100px;
    background-color: rgb(246, 247, 211);
}



.text-box {
    flex: 1; /* Faz com que o texto ocupe um espaço proporcional */
    margin-inline-end: 20px; /* Espaço entre o texto e as imagens */
    background-color: #ffffff; /* Caixa com um leve tom amarelo */
    padding: 20px; /* Aumentar o espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    margin: auto;
}

.image-box {
    flex: 1; /* Faz com que as imagens ocupem um espaço proporcional */
}
.history-image {
    width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção */
    border-radius: 8px; /* Bordas arredondadas */
    margin-bottom: 10px; /* Espaço entre as imagens */
}



.full-width-image {
    inline-size: 100%; /* Largura 100% do contêiner */
    block-size: auto; /* Mantém a proporção */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    display: block; /* Garante que não haja espaços abaixo da imagem */
}

.text-container {        
    padding: 5px;              /* Adiciona espaçamento ao redor do texto */
    margin: 5px;               /* Adiciona margem externa */
    background-color: rgba(255, 255, 255, 0.898); /* Fundo branco com transparência */
    border-radius: 10px;        /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-justify: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(54, 54, 54);
    padding: 10px;
    font-size: 3em;
    text-align: center;
}

.text-box > p {
    margin: auto;
    padding: 10px 40px 10px 40px;
    line-height: 2em;
    font-size: 1em;
    text-align: center;
}

.course-list a{
    text-decoration: none;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 20px;
    color: white;



}
.course-list{
    display: flex;

}
@media screen (max-width : 650px){
    .course-list{
        display: block;
    }
}